main{
    border:5px dotted brown;
    /* width:50%; */
    width:100vw;
}
body{
    font-size: 2em;
}
header{
    font-size: 2em;
}


section{
    border: 5px dashed green;
    width:50vw;
    height:50vh;
}